table{
border-collapse: collapse;
margin:25px 0;

}
table thead tr{
    background-color: green;
    color:#ffffff;
}
table th,table td{
    padding: 15px;
}
table tbody tr{
    border-bottom: 1px solid black;
}