*{
    padding:0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.navBar{
    margin-top: 2rem;
    height:80px;
    width: 90%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.navDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navBar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0.5rem;
}
.navBar ul li a{
 text-decoration: none;
 color: black;
}
Button{
    height: 30px;
    width: 80px;
    background-color: rgb(42, 109, 211);
    color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 2px black;
}
span{
    color: rgb(42, 109, 211);
}
#hero{
    margin: 0.7rem auto; 
    height: 270px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(144, 182, 238);
    border: 2px solid black;
    
}
#hero > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
#hero img{
    height: 170px;

}
#about{
    
    margin: 0 auto;
    height: 380px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    

}
.line-booking{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    
   
}
.book-box{
     height: 130px;
     width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    
}
.col-div{
    height: 150px;
    
    gap: 0.5rem;
}

.col-div,.book-div{
    display: flex;
    flex-direction: column;
}
.book-box img{
    height: 100px;
    width: 100px;
}
/*@media(max-width:768px){
    .line-booking{
        flex-wrap: wrap;
    }
}*/
#contact_us{
    margin: 1.5rem auto;
    height: 270px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.blue-contact-div{
    background-color: rgb(144, 182, 238);
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.blue-contact-div img{
    height: 240px;
    width: 30%;
}
.par-div{
    height: 240px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.par-div p{
    text-align: center;
    
}
.axsos-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color:rgb(144, 182, 238) ;
    border: 2px solid black;
    margin-top: 2rem;
    
}
.axsos-div i{
color: rgb(30, 109, 228);
font-size: 25px;
}

