<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>Leaderboard</h1>

        <table>

            <tr>
                <th>Name</th>
                <th>Attempts</th>
            </tr>

            {% for player in leaders %}

            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.attempts }}</td>
            </tr>

            {% endfor %}

        </table>

        <br>

        <a href="/">Back To Game</a>

    </div>

</body>
</html>