.but1{
color: #2ba6a7;
height: 30px;
width: 120px;
border-radius:50px ;
border: 1px solid #2ba6a7;
display: block;
margin-bottom: 10px;
}
.but2{
color: white;
height: 30px;
width: 30px;
background-color: #2ba6a7;
border-radius: 50%;
border:1px solid #2ba6a7;
display: block;
margin-bottom: 10px;
}
.but3{
height: 40px;
width: 230;
color: white;
background-color: #2b78e4;
border: 2px solid black;
box-shadow: 2px 2px 0px black ;
padding: 0px 20px;
}